<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957005560748-mefklaiqjvkqt56js6vtcd997i1i7nta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957005560748-mefklaiqjvkqt56js6vtcd997i1i7nta</string>
	<key>API_KEY</key>
	<string>AIzaSyAInqE8MiRECwL-j8_9BXDoBAhcXhv0yn4</string>
	<key>GCM_SENDER_ID</key>
	<string>957005560748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoe.pick</string>
	<key>PROJECT_ID</key>
	<string>pick-2fa58</string>
	<key>STORAGE_BUCKET</key>
	<string>pick-2fa58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957005560748:ios:dcb1a779d6083f417e1809</string>
	<key>DATABASE_URL</key>
	<string>https://pick-2fa58.firebaseio.com</string>
</dict>
</plist>